<template>
    <!-- Modal toggle -->
    <button
        @click="openBoardForm"
        class="elevation mt-3 block p-5 bg-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center text-black"
        type="button"
        style="width: 100%;"
    >
    +
    </button>
    <!-- Modal -->
    <div v-if="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center">
        <!-- Backdrop -->
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class="relative p-4 w-full max-w-md h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Create New Board
                    </h3>
                    <button
                    type="button"
                    @click="isModalOpen=false"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                        <svg
                            class="w-3 h-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 14 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                            />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form @submit.prevent="addNewBoard" class="p-4 md:p-5" style="text-align: left;">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label>
                                    Board Name
                                </label>
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    v-model="boardName"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                                    placeholder="New Task Name" 
                                    required=""
                                >
                            </div>
                            <div class="col-span-2">
                                <label
                                    for="description"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                >
                                    Board Description
                                </label>
                                <textarea
                                    id="description"
                                    rows="4"
                                    v-model="boardDescription"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write task description here"
                                ></textarea>
                            </div>
                        </div>
                        <button
                            type="submit"
                            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                        <svg
                            class="me-1 -ms-1 w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
                            </path>
                        </svg>
                        Add new board
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { useStore } from '../../store'
import { ref } from 'vue';

export default {
    name: 'NewBoard',
    props: {
        allCompanyBoard: {
            type: Array,
            required: true
        },
        companyId: {
            type: String,
            required: true
        }
    },
    setup(props) {
        const store = useStore()
        const isModalOpen = ref(false);
        const boardName = ref('');
        const boardDescription = ref('');
        const companyId = props.companyId;
        const boardLength = props.allCompanyBoard.length ? props.allCompanyBoard.length+1 : 0;

        const openBoardForm = ()=>{
            isModalOpen.value = !isModalOpen.value;
        }

        const addNewBoard = async ()=>{
            const response = await store.addNewBoard({
                name: boardName.value,
                description: boardDescription.value,
                companyId: companyId,
                position: boardLength
            });
            isModalOpen.value = false;
            props.allCompanyBoard.push(response);
        }

        return {
            isModalOpen,
            openBoardForm,
            addNewBoard,
            boardName,
            boardDescription
        };
    },
};
</script>

<style scoped>
.modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.label-left-align {
    text-align: left;
}

.elevation {
    box-shadow: 0 2px 0px rgba(0,0,0,0.1), 0 0px 0px rgba(0,0,0,0.08);
}
</style>