<template>
  <div class="board-container">
    <div class="flex-container" ref="scrollContainer">
      <draggable
        class="draggable-container"
        v-model="allCompanyBoards"
        :itemKey="board => board.id"
        @end="onDragEnd"
      >
        <template #item="{ element: board }">
          <BoardItem :board="board" />
        </template>
      </draggable>
      <div class="mt-8 p-2">
        <NewBoard :allCompanyBoard="allCompanyBoards" :companyId="companyId" />
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from 'vue'
import { useStore } from '../../store/index'
import { useRoute } from 'vue-router'
import BoardItem from '../../components/board/BoardItem.vue'
import NewBoard from '../../components/modals/NewBoard.vue'
import draggable from 'vuedraggable';


export default {
  name: 'CompanyBoard',
  components: {
    BoardItem,
    draggable,
    NewBoard
  },
  setup() {
    const store = useStore()
    const route = useRoute()
    const allCompanyBoards = ref([])
    const companyId = route.params.id

    onMounted(async () => {
      const companyBoards = await store.fetchBoardByCompanyId({companyId: companyId})
      allCompanyBoards.value = companyBoards.boards
    })

    const onDragEnd = async () => {
      if (!allCompanyBoards.value.length) return

      const boards = allCompanyBoards.value.map((board, index) => ({
        id: board.id,
        name: board.name,
        position: index,
        description: board.description,
        company_id: board.company_id
      }))

      await store.batchUpdateBoards({boards})
    }

    return {
      allCompanyBoards,
      onDragEnd,
      companyId
    }
  },
}
</script>

<style scoped>
.board-container {
  width: 100%; /* Ensures the container takes full width */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Aligns items vertically */
  height: 100%; /* Ensures the container takes full height */
}

.flex-container {
  display: flex; /* Enables flexbox layout */
  flex-wrap: nowrap; /* Prevents items from wrapping */
  overflow-x: auto; /* Allows horizontal scrolling */
  gap: 1rem; /* Space between items */
  flex-grow: 1; /* Allows the container to grow */
}

.draggable-container {
  display: flex; /* Ensures draggable items are also in a flex layout */
  flex-wrap: nowrap; /* Prevents wrapping within the draggable */
}

</style>