<template>
    <div class="company-list">
        <div
            v-for="company in companies" 
            :key="company.id" 
            @click="gotoCompany(company.id)"
            class="company max-w-sm rounded overflow-hidden shadow-lg relative cursor-pointer hover:shadow-xl transition duration-200 ease-in-out"
        >
            <img
                :src="`https://picsum.photos/400/200?id=${company.id}`"
                :alt="company.name"
                class="w-full h-full object-cover"
            />
            <h2 class="absolute bottom-0 left-0 bg-black bg-opacity-50 text-white p-2">
                {{ company.name }}
            </h2>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import { useStore } from '../../store/index'
import { useRouter } from 'vue-router'

export default {
  name: 'CompanyList',
  setup() {
    const store = useStore()
    const router = useRouter()
    const companies =  ref([])

    onMounted(async () => {
        await store.fetchCompanies({page: 1, pageSize: 100})
        companies.value = store.companies
    })

    return {
        companies,
        gotoCompany(id) {
            router.push({ name: 'CompanyBoard', params: { id } })
        },
    }
  },
}
</script>

<style scoped>
.company-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 1rem;
    height: 20rem;
}

.company {
    height: 8rem;
}
</style>