<template>
  <div class="board-item">
    <h3
      class="board-header">
      {{ board.name }}
    </h3>
    <draggable
      v-model="board.tasks"
      :itemKey="task => task.id"
      group="tasks"
      @change="handleMove($event)"
      @add="handleAdd($event, board)"
    >
      <template #item="{ element: task }">
        <a
          class="board-content"
          draggable="true"
        >
          <div class="flex justify-between">
            <div class="header">
              <h3 class="task-name">
                {{ task.name }}
              </h3>
              <p class="task-description">
                {{ task.description }}
              </p>
              <span>
                <img
                  class="task-avatar"
                  :src="`https://i.pravatar.cc/100?=id${task.name}`" alt="avatar"
                />
              </span> 
            </div>
            <div class="task-footer">
              <div class="task-footer-time">
                <time dateTime="2019-09-14">Sep 14</time>
              </div>
              <div class="mt-2">
                <span class="task-footer-tag">
                  <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3"/>
                  </svg>
                  <span class="text-sm ml-2 font-medium text-teal-900">
                    Feature Request
                  </span>
                </span>
              </div>
            </div>
          </div>
        </a>
      </template>
    </draggable>
    <div class="mt-3">
      <NewTask :board="board" />
    </div>
  </div>
</template>


<script>
import { ref } from 'vue';
import draggable from 'vuedraggable'
import { useStore } from '../../store'
import NewTask from '../../components/modals/NewTask.vue'

export default {
  name: 'BoardItem',
  components: {
    draggable,
    NewTask
  },
  props: {
    board: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    let isAddingTask = ref(false)
    const store = useStore()

    const handleMove = async (event) => {
      if(event.moved) {
        /**
         * Update all the task positions in the board
         */
        const tasks = props.board.tasks.map((task, index) => ({
          id: task.id,
          name: task.name,
          description: task.description,
          position: index,
          board_id: task.board_id
        }));

        await store.batchUpdateTasks({tasks});
      }
    }

    const handleAdd = async (event, board) => {
      let lastTaskOnBoard
      let boardTasksLength = board.tasks.length && board.tasks.length!==0 ? board.tasks.length-1 : 0
      const newAddedTaskOnBoard = board.tasks[event.newIndex]
      
      let requestBody = {
          id: newAddedTaskOnBoard.id,
          name: newAddedTaskOnBoard.name,
          description: newAddedTaskOnBoard.description,
          position: 0,
          boardId: board.id
      }
      if(boardTasksLength !== 0){
        lastTaskOnBoard = board.tasks[boardTasksLength]
        requestBody.position = lastTaskOnBoard.position+1
      }

      await store.updateTask(requestBody)

    }

    const addNewTask = async () => {
      isAddingTask = true
      console.log(isAddingTask)
    }
    return {
      handleMove,
      handleAdd,
      addNewTask,
      isAddingTask
    }
  }
}
</script>

<style scoped>
.board-item {
  @apply p-3 w-80 flex-shrink-0 bg-gray-200 rounded m-2;
}

.board-header {
  font-size: 14px; /* Adjust size as needed */
  font-weight: bold;
  color: #ffffff; /* White text */
  background-color: #0079bf; /* Trello blue */
  padding: 8px 16px; /* Top & Bottom, Left & Right padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.15); /* Optional: adds a subtle shadow */
  margin: 10px 0; /* Space above and below */
  display: inline-block; /* Ensures padding and background color are applied correctly */
  white-space: nowrap; /* Prevents the name from wrapping */
  overflow: hidden; /* Ensures long names don't break the layout */
  text-overflow: ellipsis; /* Adds an ellipsis for overflowed text */
  max-width: 90%; /* Prevents the element from taking up too much space */
}

.board-content {
  @apply mt-3 block p-5 bg-white rounded shadow relative cursor-pointer;
  height: 130px;
  overflow: auto;
}

.task-name {
  @apply text-sm font-medium leading-snug text-gray-900 text-left;
}

.task-description {
  @apply text-sm leading-snug text-gray-900 text-left;
}

.task-avatar {
  @apply h-6 w-6 rounded-full bottom-2 absolute top-3 right-2;
}

.task-footer {
  @apply mt-3 flex justify-between items-baseline;
}

.task-footer-time {
  @apply bottom-3 absolute gap-5 left-2 text-sm text-gray-600;
}

.task-footer-tag {
  @apply bottom-3 absolute gap-5 right-2 px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded;
}

</style>