<template>
  <div class="boards-page">
    <div class="boards-page-board-section-header-options">
      <a class="boards-page-board-section-header-options-item" href="/">
        <span class="icon-sm icon-board"></span>
        <span>Companies</span>
      </a>
      <a class="boards-page-board-section-header-options-item" href="/reports">
        <span class="icon-sm icon-view"></span>
        <span>Reports</span>
      </a>
      <a class="boards-page-board-section-header-options-item" href="/recents">
        <span class="icon-sm icon-member"></span>
        <span>Recent</span>
      </a>
      <a @click="logOut" class="boards-page-board-section-header-options-item" href="/login">
        <span class="icon-sm icon-gear"></span>
        <span>Logout</span>
      </a>
      <!-- Upgrade Button -->
      <button @click="handleModalStateChange" class="upgrade-button">Create</button>
    </div>
    <NewCompany @update:isModalOpen="handleModalStateChange" v-if="isModalOpen" />
  </div>
</template>

<script>
import { ref } from 'vue';
import NewCompany from '../../components/modals/NewCompany.vue';
import { useStore } from '../../store';


export default {
  name: 'NavBar',
  components: {
    NewCompany
  },
  setup() {
    const store = useStore()
    const isModalOpen = ref(false)

    const handleModalStateChange = () => {
      isModalOpen.value = !isModalOpen.value
    }

    const logOut = async () => {
      await store.logOut({token: localStorage.getItem('token')})
      localStorage.removeItem('token')
    }

    return {
      handleModalStateChange,
      isModalOpen,
      logOut
    }
  },
};
</script>

<style scoped>
.boards-page {
  font-size: 14px;
  font-weight: bold;
  color: #44546f;
}
.boards-page-board-section-header-options {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0; /* Add a light grey border line at the bottom */
}

.boards-page-board-section-header-options-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.icon-sm {
  margin-right: 5px;
  /* Placeholder for the icon styles */
}

/* Add specific icons styles here */
.icon-board, .icon-view, .icon-member, .icon-gear {
  width: 20px;
  height: 20px;
  display: inline-block;
  /* Use background-image for icons */
}

.upgrade-button {
  background-color: #0079bf;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

/* Additional styling as needed */
</style>