<template>
  <div id="app">
    <div v-if="showNavBar" class="navbar">
      <NavBar />
    </div>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>



<script>
import { ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import NavBar from './pages/nav/NavBar.vue'

export default{
  name: 'App',
  components: {
    NavBar
  },
  setup() {
    const route = useRoute()
    const showNavBar = ref(false)

    watch(route, (to, from) => {
      showNavBar.value = to.name !== 'Login';
    })

    return {
      showNavBar
    }
  }
}

</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex-direction: column; /* Keep stacking children vertically */
  align-items: stretch; /* Stretch children to fill the width */
  height: 100vh; /* Full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.content {
  flex-grow: 1; /* This will make the content grow and occupy the available space */
  /* Remove margin-top: auto; to prevent pushing content to the bottom */
}

</style>
